version: "3.8"

services:

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.3.2
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"


  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: finanalytics
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data

  ocr-service:
    build: ./services/ocr-service
    depends_on:
      - kafka
      - minio
    environment:
      KAFKA_BROKER: kafka:9092
    volumes:
      - ./uploads:/app/uploads

  parser-service:
    build: ./services/parser-service
    depends_on:
      - kafka
    environment:
      KAFKA_BROKER: kafka:9092

  categorizer-service:
    build: ./services/categorizer-service
    depends_on:
      - kafka
      - redis
    environment:
      KAFKA_BROKER: kafka:9092
      REDIS_HOST: redis
      REDIS_PORT: 6379

  api-gateway:
    build: ./services/api-gateway
    depends_on:
      - auth-service
      - upload-service
      - transaction-service
      - analytics-service
    ports:
      - "8080:8080"

  auth-service:
    build: ./services/auth-service
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/finanalytics
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin

  upload-service:
    build: ./services/upload-service
    depends_on:
      - kafka
      - minio
    environment:
      KAFKA_BROKER: kafka:9092

  transaction-service:
    build: ./services/transaction-service
    depends_on:
      - kafka
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/finanalytics
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin
      KAFKA_BROKER: kafka:9092

  analytics-service:
    build: ./services/analytics-service
    depends_on:
      - kafka
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      KAFKA_BROKER: kafka:9092

volumes:
  postgres-data:
  minio-data:
